<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>커미션</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>
          VRC - 3.0<br>
          VRM/VSF - 2.0<br>
          페이셜 작업 - 15.0<br>
        </h2>
          <h3>=외형=<br></h3>
        <p>
          헤어 - 1.0<br>
          전용 옷 - 0.8<br>
          비전용 옷 - 1.5<br>
          악세사리 - 0.5<br>
          옷장 - 파츠당 0.5씩 추가<br>
        </p>
        <h3>=이펙트&기믹=<br></h3>
        <p>
          포이요미 옷 변경 이펙트 - 난이도에 따라 1.0 단위로 책정<br>
          아바타 다이나믹 기믹 - 난이도에 따라 1.5 단위로 책정<br>
          파티클 - 난이도에 따라 0.5 단위로 책정<br>
        </p>
        <h3>=할인=<br></h3>
        <p>
          방송에서 공개 작업 허가 - 1.0<br>
          장기 의뢰(ex. 버튜버 아바타 담당)로 맡겨주신다면 3회차부터 임의로 할인이 들어갑니다.<br>
        </p>
        <br>
        *작업은 VCC에서 합니다. 필수 에셋도 같이 안내드릴 예정입니다.<br>
        *예외적으로 바디에 너무 딱 붙는 의상은 추가 상의가 필요할 것 같습니다<br>
        *페이셜 작업시 VRM/VSF 포함입니다<br>
      </div>
    </div>
  </div>
</section>
