<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>커미션</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h3>
          기본 작업비 - 3.0<br>
          =외형=<br>
          VRM/VSFAvater 작업 - 1.0<br>
          헤어 - 0.5<br>
          옷 - 1.0<br>
          페이셜 추가 - 15.0<br>
          =기믹=<br>
          포이요미 옷 변경 이펙트 - 난이도에 따라 1.0 단위로 책정<br>
          컨텍트 기믹 - 난이도에 따라 1.0 단위로 책정<br>
          파티클 - 난이도에 따라 0.5 단위로 책정<br>
          =할인=<br>
          방송에서 공개 작업 허가 - 1.5<br>
        </h3>
      </div>
    </div>
  </div>
</section>
