<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>커미션</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <table border ="1" height=150 cellspacing="5">
          <tr align="center">
          	<th>기본 작업비용</th>
            <td>40,000</td>
          </tr>
          <tr align="center">
          	<th>의상, 헤어 추가 (개당 단위)</th>
            <td>10,000</td>
          </tr>
          <tr align="center">
          	<th>기믹 추가 (정산 단위)</th>
            <td>30,000</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
